/*Estilos para el menú*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /* font-size: 12px; */
}

body {
    background-color: white;
    min-width: 400px;
}

.header {
    background-color: rgba(14, 56, 241, 0.942);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10px;

}

.header .logo {
    cursor: pointer;
    margin: auto;
    width: 70px;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

nav {
    width: 85%;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,

.overlay a:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
}

.header .nav-links a:hover {
    color: #ffbc0e;
}

.menu {
    display: none;
}

.header .btn button,

.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* --------------------- CONTACTO -------------------- */

.formulario{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

.form h1{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    transition: 1s;
}

#form{
    width: 40vw;
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px #2980B9;
    transition: 0.7s;
}

.form{
    width: 100%;
    margin: auto;
}

#form .grupo{
    position: relative;
    margin: 30px;
}

input{
    background: none;
    color:#009FFF;
    font-size: 18px;
    padding: 8px 8px 8px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(17, 50, 97, 0.705);
    
}


input:focus{
    outline: none;
}

label{
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease ;
    pointer-events: none;
}

/* al hacer clik sobre los input se daran estilos a los label , y cuando input sea valido, entonces label */
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, hsl(196, 93%, 70%), hsl(204, 64%, 44%));
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.btn-enviar{
    background: linear-gradient(to right, hsl(196, 93%, 70%), hsl(204, 64%, 44%));
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 800;
}

.btn-enviar:active{
    transform: scale(0.9);
}

/* estilos de input con validacion incorrecta */

.input-incorrecto{
    border: 2px solid #bb2929;
    border-bottom: 2px solid #bb2929;;
    opacity: 1;
    border-radius: 10px;
}


/* .input-incorrecto:active~label{
    color: #bb2929;
} */


.text-error{
    font-size: 12px;
    padding: 5px;
    color: #bb2929;
    display: none;
}
.text-error-activo{
    display: block;
}

/* AUTOCOMPLETADO */

#azar{
    font-family: 'Open Sans';
    background: #2980B9;
    color: white;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 800;
}

#azar:hover{
    border: 1px solid #2196f3;
    background: transparent;
    color: #2196f3;
    font-size: 17   px;
    transition: all  0.7s;
}



@media screen and (max-width: 900px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/*Nav Mobile*/

.header a {
    text-decoration: none;
    /*borramos el que teniamos en .header .nav-links a*/
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: #ffbc0e;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*Fin de estilos para el menú*/
/*Estilos para toos los row*/
.row{
    width: 100%;
    display: flex;
}

/*Estilos para el banner*/

.row-banner{
    margin-bottom: 20px;
    background-image:url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 300px;
    justify-content: space-between; 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

/*Estilos para el Texto que va en el Banner*/
#text-banner{
    width: 500px;
    text-align: justify;
    margin-right: 70px;
    /* color: rgb(69, 68, 68); */
    color: black;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

#text-banner2{
    display: flex;
    justify-content: space-between;
    width: auto;
    text-align: left;
    font-size: 5em;
    font-weight: 600;
    color: rgb(14, 56, 241);
    text-shadow: 3px 7px 8px rgba(2, 11, 49, 0.942);
}
/*Fin de estilos para el banner*/

/*Estilos Para las 3 Tarjetas de Arriba*/
.row-cards-up{
    margin-bottom: 20px;
    justify-content: space-around;
}

/*Estilos Para las 2 Tarjetas de Abajo*/
.row-cards-down{
    margin-bottom: 20px;
    justify-content: space-around;
}
.row-cards-down .card:first-child{
    margin-left: 16.8%;
}
.row-cards-down .card:last-child{
    margin-right: 16.8%;
}
/*Estilos para Cada Tarjeta*/
.card {
    width: 30%;
    height: 350px;
    text-align: center;
}

/*Estilos para El Header de la Tarjeta
    Solo seteo bordes redondeados para Las Esquinas Superior Derecha E Izquierda*/
.card-header{
    background-color: rgba(14, 56, 241, 0.942);
    height: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Estilos para El Body de la Tarjeta*/
.card-body{
    height: 75%;
    background-color: rgba(14, 56, 241, 0.942);
}

/*Estilos para la Imagen que va en el Body*/
.card-img{
    width: 96%;
    height: 100%;
    margin: auto 0;
    border-radius: 10px;
}

/*Estilos para El Footer de la Tarjeta
    Solo seteo bordes redondeados para Las Esquinas Inferior Derecha E Izquierda*/
.card-footer{
    background-color: rgba(14, 56, 241, 0.942);
    height: 23%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Estilos para el formulario del Botón para centrarlos en el footer*/
.btn-action-form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.card-text-footer{
    text-align: justify;
    margin: 1px;
    width: 70%;
    color: white;
    font-size: 0.8em;
}

/*Aquí van los Estilos para los Botones*/
.btn-card{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgba(248, 248, 252, 0.942);
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
    color: white;
    background-color: rgb(14, 188, 241);
    margin-left:10px;

}
/*Estilo de mouse*/
.btn-card:hover{
    background-color: rgba(14, 124, 241, 0.942);
    cursor: pointer;
    }

/* footer*/
.footer {
    background-color: rgba(14, 56, 241, 0.942);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 5px 10px;
    border-bottom: 1px solid #EEE;
}

.footer a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    
}
footer {
    background-color: rgba(14, 56, 241, 0.942);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo contacto social";
    justify-items: center;
    align-items: center;
}  
.footer-logo { grid-area: Logo; }

.footer-contact { grid-area: contacto; }

.footer-social { grid-area: social; }

.footer-logo img {
    height: 90px;
    transform: scale(1.5);
}

.footer-contact ul,
.footer-social ul {
    list-style: none;
}

.footer-contact ul li,
.footer-social ul li {
    margin: 7px 0;
    
}

.footer-contact i,
.footer-social i {
    margin-right: 11px;
    width: 12px;
}
.footer-social ul li a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.footer-social ul li:first-child a:hover{
    color:#3b5998;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.footer-social ul li:nth-child(2) a:hover{
    color:#6cbcdf;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.footer-social ul li:last-child a:hover{
    color:#E1306C;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    
}

.footer-bottom {
    background-color: #fff;
    color: #444;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-style: italic;
}

/*Los media query para pantallas bajo los 850px*/
@media (max-width: 850px) {

    #text-banner{
        justify-content: right;
        color: black;
    }
    #text-banner2{
        display: flex;
        justify-content: left;
        font-size: 3em;
        font-weight: 600;
        margin-left: 4%;
    }
    .row-cards-up{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .card {
        width: 40%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 20px;
    }
    .row-cards-down .card:first-child{
        width: 40%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 20px;
    }
    .row-cards-down .card:last-child{
        width: 40%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 20px;
    }
    #form{
        width: 50vw;
        transition: all 1s;
    }
    .footer-social ul{
        display: flex;
        flex-direction: row;
        gap: 15px;
        
    }
    .footer-container{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        "Logo contacto" 
        "Logo social";
        
    }

    .footer-social ul{
        display: flex;
        flex-direction: row;
        gap: 8px;
       
    }
    .footer-contact i,
    .footer-social i {
    margin-right: 8px;
    width: 10px;
    }

    
    .footer-logo{
        position: relative;
        left:20px;
        
    }
    .footer-logo img{
        position: relative;
        left: -20px;
    }
}

/*Los media query para pantallas bajo los 550px*/
@media (max-width: 550px) {
    
    /*Con Flex-Direction Hago que todos los elementos se ordenen hacia abajo ... en vez de que se ordenen en 
    linea vertical*/
    .row-cards-up{
        flex-direction: column;
    }
    .row-cards-down{
        flex-direction: column;
    }
    .card {
        width: 95%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 10px;
    }
    .row-cards-down .card:first-child{
        width: 95%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 10px;
    }
    .row-cards-down .card:last-child{
        width: 95%;
        margin-left: 2.5%;
        margin-Right: 2.5%;
        margin-bottom: 10px;
    }
    #text-banner{
        margin-left: 4%;
        font-size: 1em;
    }
    #text-banner2{
        font-size: 3em;
    }
    /* estilos para formulario */
    #form{
        width: auto;
    }
    .form h1{
        font-size: 2em;
        transition: 1s;
    }
}
